.container{
    border: 1px solid red;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
}

.container > div> button{
    color: white;
    font-weight: bold;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    margin-left: 55px;
    text-align: center;
    border: 1px solid rgb(230, 222, 222);
    background-color: rgb(197, 102, 104);
}


/* .productCard{
    border:1px solid black;
    border-radius: 5px; 
    padding: 10px;
    box-shadow: .5px .5px .2px .5px rgb(214, 209, 209) ;

    box-shadow: inset;
}
.details{
    display: flex;
    border: 1px solid red;
    height: 50px;
    width: 90%;
    margin: auto;
    color: black;
    font-weight: bold;
    margin-left:10px;
}

.details div{
    font-weight: 600;
    margin-top: 10px;
}

.details button{
    color: white;
    font-weight: bold;
    border-radius: 2px;
    width: 120px;
    margin-left: 55px;
    text-align: center;
     border: 1px solid rgb(230, 222, 222);
    background-color: rgb(197, 102, 104);
}
.name{
    margin-left: 5px;
    font-weight: bold;
    text-decoration: underline;
}
.productCard div img {
    width: 80%;
    margin: auto;
    height: 200px;
    padding: 5px;
    border: 1px solid red;
} */